/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(
        to bottom,
        #009688 0vh,
        #009688 15vh,
        #dadbd3 15vh,
        #dadbd3 100%
    );
    overflow: hidden;
    font-family: 'Lato', sans-serif;
    font-size: .8rem;

}

#root {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 80%;
    min-width: 500px;
    margin: auto;
    display: flex;
    background-color: #eaeaea;
    /* Test */
    height: 90%;
    margin-top: 1rem;
}

/* PARTE SINISTRA */

/* Header */
.left-app {
    width: 30%;
    min-width: 250px;
    border-right: 1px solid #e1e1e1;
}

.header-left, .header-right {
    display: flex;
    align-items: center;
    padding: .6rem;
    height: 55px;
}

.header-left-avatar,
.header-right-avatar {
    display: flex;
    align-items: center;
}

.header-left-avatar > img {
    width: 15%;
    border-radius: 50%;
    margin-right: .4rem;
}

.header-left-icons,
.header-right-icons {
    display: flex;
    color: #b1b1b1;
    font-size: 1rem;
}

.header-left-icons > i,
.header-right-icons > i {
    padding-right: .5rem;
}

/* Barra notifiche */
.msg-notification {
    background-color: #8edafd;
    display: flex;
    align-items: center;
    width: 100%;
}

.msg-icon > i {
    display: inline-block;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    background-color: white;
    color: #8edafd;
    border-radius: 50%;
    margin: .8rem;
    font-size: .9rem;
}

.msg-text > p:nth-child(2) {
    font-size: .7rem;
    text-decoration: underline;
    color: #6da4be;
}

/* Ricerca */
.chat-search {
    width: 100%;
    display: flex;
    background-color: white;
    margin: .3rem;
    padding: .5rem;
    color: gray;
}

.chat-search > i {
    padding: .2rem .7rem;
}

.chat-search > input {
    width: 100%;
    border: transparent;
}

.chat-search > input:focus {
    border: 1px solid transparent;
}

/* Elenco chat */
.contacts-container {
    width: 100%;
    height: 70%;
    padding: .2rem 0;
    padding-left: .6rem;
    background-color: white;
    overflow-y: scroll;
}

.single-contact {
    display: flex;
    align-items: center;
    margin: .4rem 0;
    padding: .3rem;
} 

.contacts-container img {
    width: 15%;
    border-radius: 50%;
}

.contact-info {
    padding-left: .5rem;
}

.contact-info > p:nth-child(2) {
    color: grey;
    font-size: .7rem;
}

.active {
    background-color: #e9ebeb;
}


/* PARTE DESTRA */
.right-app {
    width: 70%;
    min-width: 200px;
}
/* Header */
.header-right {
    justify-content: space-between;
}

.header-right-avatar > img {
    width: 10%;
    border-radius: 50%;
    margin-right: .4rem;
}

/* Chat */
.chat-container {
    height: calc(100% - 95px);
    width: 100%;
    background-image: url(../img/mine.jpg);
    background-size: 400px;
    background-repeat: repeat;
    flex-grow: 1;
    overflow-y: scroll;
}

.messages {
    display: flex; 
    margin: .4rem;
}

.msg--sent {
    justify-content: flex-end;
}

.msg--received {
    justify-content: flex-start;
}

.msg-box {
    min-width: 250px;
    max-width: 60%;
    padding: .6rem;
    border-radius: 5px;
}

.msg--sent > .msg-box {
    background-color: #d5f9ba;
}

.msg--received > .msg-box {
    background-color: white;
}

/* INVIO MSG */
.new-message {
    height: 40px;
    background-color: #f3eeea;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.new-message > input {
    width: 80%;
    padding: .5rem;
    border: 0;
}

.new-message > i {
    font-size: 1.2rem;
    color: #6b7376;
    padding: 0 1.8rem;
}
